
.channel {
	background: linear-gradient(to bottom, $color-light 0%, $color-white 80%, $color-white 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
}

.channel__name {
	width: 100px;
	margin: 0 1rem;
}

.channel__controls {
	width: 5rem;
}