
%icon {
	width: 10px;
	height: 10px;
	display: block; // TODO: temp hack
}

.icon {
	@extend %icon;
	fill: $color-white;
}

.icon__handel {
	@extend %icon;
	fill: $color-dark;
}

.icon__logo {
	fill: none;
	stroke: $color-dark;
	stroke-width: 7;
	display: block; // TODO: temp hack
}

.icon__settings {
	@extend %icon;
	fill: none;
	stroke: $color-white;
	stroke-width: 20;
}

.icon__close {
	@extend %icon;
	stroke: $color-white;
	stroke-width: 20;
}