
input[type="text"] {
	color: $font-color;
	padding: .5rem;
	border: 1px solid #fff;
	text-overflow: ellipsis;
	transition: border-color $animation-length;

	&:hover {
		border-color: $color-lightest;
	}

	&:focus {
		outline: none !important;
		border-color: $color-lightest;
	}
}