
.button {
	background-color: $color-medium;
	border: none;
	color: $color-white;
	padding: 0.5rem 1rem;
	margin: 0 0.25rem;

	&:focus {
		outline: none !important;
	}

	&.-active {
		background-color: $color-accent2;
	}

	&.-disabled {
		background-color: $color-disabled;
	}
}