
.button {
	background-color: $color-medium;
	border: none;
	color: $color-white;
	padding: .75rem;
	margin: 0 0.15rem;

	&:focus {
		outline: none !important;
	}

	&.-active {
		background-color: $color-accent2;
	}

	&.-disabled {
		background-color: $color-disabled;
	}
}